[archiso]
doesnt.matter ansible_host=<IP>   # host will reboot during deployment.
                                  # if you boot archiso the hostname is 'archiso'. 
                                  # make sure it's accessable even if hostname
                                  # changes! best is to use IP address.

[archiso:vars] # quote values or remove comments!
hostname=<HOSTNAME>
domain=<DOMAIN>
#os_disk=<DEVICE>                 # default 'vda'
#os_fstype=<FSTYPE>               # default 'ext4'
#timezone=<TIMEZONE>              # default 'Europe/Berlin'
#language_locale=<LOCALE>         # default 'en_US.UTF-8'
#mirrorlist_country=<ISO 3166-1>  # default 'DE'
#os_packages=<packages>           # default none, example: 'salt' or '["rsync", "unzip"]' - keep all quotes!
#install_qemu_guest_agent=<BOOL>  # default 'false'

# without dhcp one have to provide static network configuration.
# example below. default is '', i.e. network configuration via dhcp
#dhcpcd_content="interface ens18\nstatic ip_address=192.168.2.3/24\nstatic routers=192.168.2.1\nstatic domain_name_servers=192.168.2.250 8.8.8.8"

# vi: ft=dosini
